<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{$settings->title}}</title>
	<meta charset="utf-8">
	<meta content="{{$settings->desc}}" name="description">
	<meta content="{{$settings->keys}}" name="keywords">
	<meta property="og:image" content="https://ebabki.com/imgkkk5.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/loaderoklog.css?v10">
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<!--===============================================================================================-->	

	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css?v3">
	<link href="css/armin.css?v38" rel="stylesheet">
	<script src="../public/assets/js/jquery-3.2.1.min.js"></script>
	<script src="../public/assets/js/jquery.slimscroll.min.js"></script>
	<script src="../public/assets/js/jquery.kinetic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<!--===============================================================================================-->
<div class="loaderArea">
  <div id="loader"></div>
</div>	
</head>
<body>


	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
<img src="/images/ebabkus.png" style="width:40%;height: 40%;">
				</div>
<center>
						<a class="overlay_login" style="    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
    border-radius: 46px;
    background: linear-gradient(160deg, #058AFF, #a60cff);
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 0 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    transition: all 0.3s cubic-bezier(0, 0.73, 0.13, 3.82);
    white-space: nowrap;" href="auth/vkontakte">
							ВОЙТИ ЧЕРЕЗ
						</a>  <br> <a class="overlay_login" style="    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
    border-radius: 46px;
    background: linear-gradient(160deg, #ff3f05, #ff0c7c);
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 0 30px;
	margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: 0;
    transition: all 0.3s cubic-bezier(0, 0.73, 0.13, 3.82);
    white-space: nowrap;" href="https://www.google.com/">ПОКИНУТЬ САЙТ</a> <br><br> <center><div class="termssss1" style="
    font-size: 18px;
    color: #00000069;
    width: 80%;
" ">Авторизуясь вы потдверждаете,что вам есть 18 лет и принимаете условия <a href="/termslogin" rel="popup" target="_blank" style="
    font-size: 18px;
    color: #4348887d;
    width: 80%;
"> пользовательского соглашения.</a></div> <br> <div class="termssss" style="
    font-size: 15px;
    color: #0000002e;
    width: 70%;
" >*УСЛУГИ САЙТА – ЯВЛЯЮТСЯ ИМИТАТОРОМ (СИМУЛЯТОРОМ), ПОЗВОЛЯЮЩИМ ПОЛУЧИТЬ ПСИХО-ЭМОЦИОНАЛЬНОЕ УДОВЛЕТВОРЕНИЕ БЕЗ КАКИХ БЫ ТО НИ БЫЛО РИСКОВ ДЛЯ ПОЛЬЗОВАТЕЛЯ, В СВЯЗИ С ЧЕМ, УСЛУГИ САЙТА ОТНОСЯТСЯ К АТТРАКЦИОННЫМ.</div></center><br><br></div>
	
						<br>
						<br>
						</center>
						

<script>
  $(window).on('load', function () {
    $preloader = $('.loaderArea'),
      $loader = $preloader.find('.loader');
    $loader.fadeOut();
	$preloader.delay(350).fadeOut('slow');
  });
</script>



<

@endauth